## **LOOPS**

In [1]:
if (1,2):
    print('foo')

foo

In [18]:
if(1,2): print('foo')

foo

In [12]:
if (1,2):
    print('foo')
else:
    print('baz')

foo

In [13]:
if (1,2): print('foo') else: print('baz')

SyntaxError: ignored

In [17]:
print('foo' if(1,2) else 'baz')
#print('True durumu' if(koşul) else 'False durumu')

foo

In [3]:
if (1,2):
print('foo')

IndentationError: ignored

In [4]:
for i in "bus":
    print(i, end='')

bus

In [5]:
for i in "bus":
    print(i, end=' ')

b u s

In [6]:
count = 0
for i in ["bus"]:
    count += 1
    print(i, count, end="")

bus 1

In [7]:
count = 0
for i in "bus":
    count += 1
    print(i, count, end="")

b 1u 2s 3

In [8]:
count = 0
for i in "bus":
    count += 1
    print(i, end="")
print(count)

bus3

In [10]:
a = ['foo', 'bar', 'baz', "qux", 'corge']
while a:
    if len(a)<3:
        break  # a nın eleman sayısı 3 den küçük ise döngüyü kır /çık
    print(a.pop(), end="")  #a nın en sondaki elemanını kaldırır ve sildiği elemanı yazdırır

print("Done.")

corgequxbazDone.

In [11]:
a = ['foo', 'bar', 'baz', "qux", 'corge']
while a:
    if len(a)<3:
        break  # a nın eleman sayısı 3 den küçük ise döngüyü kır /çık
    print(a.pop(), end="")  #a nın en sondaki elemanını kaldırır ve sildiği elemanı yazdırır

print("Done.")
print(a)

corgequxbazDone.
['foo', 'bar']

In [ ]:
print("I love you.")
print("I love you.")
print("I love you.")
print("I love you.")
print("I love you.")
print("I love you.")

In [20]:
for i in range(6):
    print("I love you.")

I love you.
I love you.
I love you.
I love you.
I love you.
I love you.

In [19]:
## for döngüsü bir iterable nesne istiyor
times = int(input("Haydi söyle!!"))
for i in range(times):
    print("I love you.")

Haydi söyle!!6
I love you.
I love you.
I love you.
I love you.
I love you.
I love you.

In [22]:
t = 5
for i in range(0,11):
    print(f"{t}*{i}=", t*i)

5*0= 0
5*1= 5
5*2= 10
5*3= 15
5*4= 20
5*5= 25
5*6= 30
5*7= 35
5*8= 40
5*9= 45
5*10= 50

In [21]:
n = int(input('lutfen bes sayisini girin : '))
for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

lutfen bes sayisini girin : 5
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [24]:
type(range(11))

range

In [26]:
a_listesi = list(range(11))  #liste üreteci
print(a_listesi)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
a_kumesi = set(range(11))  #küme üreteci
print(a_kumesi)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
a_demeti = tuple(range(11))  #tuple üreteci
print(a_demeti)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
import sys
print(sys.getsizeof(a_listesi))
print(sys.getsizeof(a_demeti))  # tuple yapısı, liste göre daha az bellekte yer kaplıyor

216
144

In [31]:
print(range(0,5))
print(*range(0,5))

range(0, 5)
0 1 2 3 4

In [33]:
a = range(0,5)
print(a)

range(0, 5)

In [36]:
b0 = print(a)
b1 = a
print(b0)   #None çıktısı verdi
print(b1)

range(0, 5)
None
range(0, 5)

In [32]:
a = *range(0,5) #sadece print ile ekrana basılır...

SyntaxError: ignored

In [37]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [38]:
print(*'seperate')

s e p e r a t e

In [39]:
print(*('seperate')) # str yi ayrıştırdı

s e p e r a t e

In [40]:
print(*('seperate',))  #tuple parantezini kaldırır

seperate

In [45]:
print(type(('seperate',)))

<class 'tuple'>

In [44]:
a_str = ('seperate',)
print(type(a_str))

<class 'tuple'>

In [46]:
a_str = ('seperate')
print(type(a_str))

<class 'str'>

In [41]:
print(*range(10,0,-2))

10 8 6 4 2

In [42]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [48]:
#zip metodu
text = ["one", "two", "three", "four", "five"]
nums = [1,2,3,4,5]
for i,j in zip(text, nums):
    print(i, ":", j)

one : 1
two : 2
three : 3
four : 4
five : 5

In [49]:
#zip metodu
text = ["one", "two", "three", "four", "five"]
nums = [1,2,3,4,5]
for i,j in zip(text, nums):
    print(i, j)

one 1
two 2
three 3
four 4
five 5

In [50]:
print("evens:" ,list(range(0,10,2)))
print("odds:", list(range(1, 10, 2)))

evens: [0, 2, 4, 6, 8]
odds: [1, 3, 5, 7, 9]

In [51]:
evens = []
odds = []
for i in range(10):
    if i%2: # i%2==1 ise
        odds.append(i)
    else:
        evens.append(i)
print("evens :", evens)
print("odds :", odds)

evens : [0, 2, 4, 6, 8]
odds : [1, 3, 5, 7, 9]

In [53]:
lstm = [6, 11, 2, 24, 61, 48, 33, 3, 5]
even_count = 0
odd_count = 0
for i in lstm:
    if i%2==0: #çiftir
        even_count +=1
    else:
        odd_count +=1
print("The number of even numbers.: ", even_count)
print("The number of odd numbers.: ", odd_count)

The number of even numbers.:  4
The number of odd numbers.:  5

In [56]:
lstm = [6, 11, 2, 24, 61, 48, 33, 3, 5]
even_count = odd_count = 0
for i in lstm:
    if i%2==0: #çiftir
        even_count +=1
    else:
        odd_count +=1
print("The number of even numbers.: ", even_count)
print("The number of odd numbers.: ", odd_count)

The number of even numbers.:  4
The number of odd numbers.:  5

In [57]:
#listeyi kullanıcadan girilen sayılar ile oluşturalım
n = int(input("kaç sayı girmek istiyorsun?"))
sayac = 0
lstm = []
while sayac<n:
    sayi = int(input(f"Listenin {sayac}. elemanı.:"))
    lstm.append(sayi)
    sayac +=1

# tek ve çift sayıların adedini bulan program parçası
even_count = odd_count = 0
for i in lstm:
    if i%2==0: #çiftir
        even_count +=1
    else:
        odd_count +=1
print("The number of even numbers.: ", even_count)
print("The number of odd numbers.: ", odd_count)

kaç sayı girmek istiyorsun?5
Listenin 0. elemanı.:45
Listenin 1. elemanı.:23
Listenin 2. elemanı.:2
Listenin 3. elemanı.:67
Listenin 4. elemanı.:8
The number of even numbers.:  2
The number of odd numbers.:  3

In [60]:
import random
lstm = [random.randint(1,100)]
print(lstm)

[37]

In [63]:
#listeyi random sayılardan oluşturalım
import random
lstm = []
n = 10
sayac = 0
while sayac<n:
    lstm.append(random.randint(1,100))
    sayac +=1

print(lstm)
# tek ve çift sayıların adedini bulan program parçası
even_count = odd_count = 0
for i in lstm:
    if i%2==0: #çiftir
        even_count +=1
    else:
        odd_count +=1
print("The number of even numbers.: ", even_count)
print("The number of odd numbers.: ", odd_count)

[43, 97, 46, 95, 69, 96, 82, 28, 64, 11]
The number of even numbers.:  5
The number of odd numbers.:  5

In [68]:
# randomdan istenilen sayida eleman cekme
import random
n = 10
x = random.sample(range(1, 100), n)
print(x)

[14, 77, 93, 73, 54, 7, 40, 31, 95, 66]

In [77]:
#klasik çözüm
for i in range(1,10): #satır: dış döngü değişkeni: i
    for j in range(i): #sütun: iç döngü değişkeni :j
        print(i, end="") # i değerlerini yan yana
    print() #bir satır altla

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [79]:
print("3"*4)

3333

In [70]:
for i in range(1,10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [80]:
for i in range(1,10):
    print("i" * i)

i
ii
iii
iiii
iiiii
iiiiii
iiiiiii
iiiiiiii
iiiiiiiii

In [71]:
for i in range(1,10):
    print(i * i)

1
4
9
16
25
36
49
64
81

In [84]:
toplam = 0
for i in range(1,75):
  toplam += i
print("Toplam.: ", toplam)

Toplam.:  2775

In [85]:
numlist = list(range(1,75))
print("Toplam.: ", sum(numlist))

Toplam.:  2775

In [148]:
numlist = [sum(i for i in range(1,75))]
print("Toplam.: ", numlist)

Toplam.:  [2775]

In [ ]:
# nested looop
# çarpım tablosu
for t in range(1,11):
    for i in range(1,11):
        print(f"{t}*{i}=", t*i)
    print() #1 satır altla

In [90]:
who = ["I am ", "You are "]
mood = ["happy", "confident"]
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [91]:
names = ["Susan" , "Tom" , "Tim"]
mood = ["happy" , "sad"]
for i in names:
    for ii in mood:
        print(f"{i} is {ii}")

Susan is happy
Susan is sad
Tom is happy
Tom is sad
Tim is happy
Tim is sad

In [110]:
## Sayısal Loto Çekilişi (1-49 dahil 6 sayı üreteceğiz... )
import random
lotom = []
for i in range(6): #6 sayı üret
    sayi = random.randint(1,50)
    lotom.append(sayi)

print(lotom)

[16, 50, 37, 1, 21, 17]

In [130]:
## Sayısal Loto Çekilişi (1-49 dahil 6 sayı üreteceğiz... )
import random
lotom = []
while len(lotom)<6: #6 sayı üret
    sayi = random.randint(1,49)
    if sayi not in lotom:
        lotom.append(sayi)

print(lotom)

[14, 13, 20, 25, 15, 23]

In [137]:
## Sayısal Loto Çekilişi (1-49 dahil 6 sayı üreteceğiz... )
import random
lotom = []
while len(lotom)<6: #6 sayı üret
    sayi = random.randint(1, 50)
    if lotom.count(sayi) == 0:
        lotom.append(sayi)

print(lotom)

[22, 4, 30, 28, 34, 21]

In [140]:
listem = []
for i in range(10):
    listem.append(i)

print(listem)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
listem = [i for i in range(10)] #kısa formu
print(listem)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
#0-10 sayıların karelerinden bir liste oluşturalım
listem = [i*i for i in range(10)]
print(listem)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [144]:
odds = []
for i in range(10):
    if i%2: # i%2==1 ise
        odds.append(i)

print("odds :", odds)

odds : [1, 3, 5, 7, 9]

In [145]:
odd_s = [i for i in range(10) if i%2]
print("odds :", odd_s)

odds : [1, 3, 5, 7, 9]

In [146]:
## 1 den 10 kadar ki sayılar dan sayı çift ise olduğu gibi,
## tek ise karesini alan ve yeni listeyi bu şekilde oluşturan programı yazalım
listem = []
for i in range(1,10):
    if i%2==0:
        listem.append(i)
    else:
        listem.append(i*i)
print(listem)

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [147]:
#kısa formu
listem = [i if i%2==0 else i*i for i in range(1,10)]

print(listem)

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [150]:
cumle = "Mistakes are for people" #sesli harfleri çıkardı
sessiz_harfler = set(i for i in cumle if i not in "aeiou")
print(sessiz_harfler)

{'r', 'l', 't', 'M', 'k', 'p', 's', 'f', ' '}

In [152]:
#sözlük üreteci
listem = ["charlie", "sezai", "ayşe", "kaan", "ali"]
sozluk = {k:len(k) for k in listem}
print(sozluk)

{'charlie': 7, 'sezai': 5, 'ayşe': 4, 'kaan': 4, 'ali': 3}

In [153]:
dict_couple = { "bride" : ["marry", "bella",  "linda", "emma"],
                "groom": ["jack", "robert", "eric", "adam"]}
evlilik_eslestirmesi = {i[0]:i[1] for i in zip(dict_couple["bride"], dict_couple["groom"])}
print(evlilik_eslestirmesi)

{'marry': 'jack', 'bella': 'robert', 'linda': 'eric', 'emma': 'adam'}